body,
html {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* header/hero */

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("/assets/hero/her-image2.jpg");
  /* Path to your background image */
  background-size: cover;
  /* Cover the entire viewport */
  background-position: center;
  /* Center the background image */
  object-fit: cover;
  /* Ensure it covers the whole area */
  z-index: -1;
  /* Keep it behind other content */
}

.navbar {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
  font-size: 18px;
  font-weight: 600;
  color: white;
  display: flex;
  align-items: center;
  z-index: 2;
}

.logo img {
  width: 50px;
  margin-right: 10px;
}

.desktop-nav {
  display: none;
  z-index: 2;
}

.nav-items li a {
  color: white;
}

.menu-icon {
  margin-left: auto;
  background: none;
  border: none;
  padding: 0;
  z-index: 2;
}

.menu-icon svg {
  fill: white;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.vignette {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100vh;
  background: radial-gradient(
    circle at center,
    transparent 40%,
    /* Large clear center remains unchanged */ rgba(0, 0, 0, 0.75) 55%,
    /* Smooth transition starts earlier */ rgba(0, 0, 0, 0.9) 90%,
    /* Darker edge */ black 0% /* Full black at the very edge */
  );
  z-index: 1;
  /* Positioned above the video, but below text and logo */
  pointer-events: none;
  /* Allow interaction with elements below */
}

.blur-layer {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(10px);
  /* Apply blur effect */
  mask-image: radial-gradient(
    circle at center,
    transparent 50%,
    /* Keep the center clear */ black 70% /* Begin masking from this point */
  );
  z-index: 0;
  /* Below the vignette layer */
  pointer-events: none;
  /* Allow interaction with elements below */
}

.hero-text-container {
  position: absolute;
  top: 0;
  transform: translateY(-80px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 460px;
  height: 100vh;
  z-index: 2;
}

.hero-text-container h2 {
  margin: 0;
  font-size: 4rem;
  font-weight: 300;
  color: white;
  text-transform: uppercase;
  line-height: 1;
}

.hero-subtitle {
  font-size: 1.2rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.85);
  line-height: 1.4;
  margin-top: 0;
}

@media (min-width: 768px) {
  .hero-main-title {
    font-size: 5rem;
  }
  .hero-subtitle {
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .hero-main-title {
    font-size: 6rem;
    /* Even larger size for the widest screens */
  }
  .hero-subtitle {
    font-size: 2rem;
    /* Continue adjusting for readability */
  }
}

@media (min-width: 768px) {
  .logo {
    font-size: 24px;
  }
  .logo img {
    width: 60px;
  }
}

@media (min-width: 1024px) {
  .logo {
    font-size: 32px;
  }
  .logo img {
    width: 80px;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .desktop-nav {
    display: block;
  }
  .menu-icon {
    display: none;
  }
  .nav-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .nav-items li {
    margin: 10px 0;
  }
  .nav-items li a {
    text-decoration: none;
  }
}

.hero-text {
  max-width: 40rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0em;
}

.hero-text p {
  font-size: 1em;
  color: white;
  margin: 0;
  font-weight: 500;
  line-height: 9;
}

@media (min-width: 768px) {
  .hero-section {
    min-height: 25rem;
  }
  .hero-text p {
    font-size: 2.5rem;
  }
  .hero-text {
    text-align: center;
    max-width: 60rem;
  }
}

@media (min-width: 1024px) {
  .hero-section {
    min-height: 30rem;
  }
  .hero-text {
    height: 30rem;
    justify-content: flex-start;
    padding-left: 4rem;
  }
  .hero-text p {
    font-size: 3.5rem;
  }
}

/* portfolio */

/* Base styles */

.portfolio-section {
  display: flex;
  flex-direction: column;
}

.portfolio-menu {
  flex: 1;
}

.portfolio-menu ul {
  list-style: none;
  padding: 0;
}

.portfolio-menu li a {
  display: block;
  padding: 0.5rem 1rem;
  color: #333;
  text-decoration: none;
}

.portfolio-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.portfolio-item {
  text-align: center;
}

.portfolio-item h2 {
  margin: 0 0 0.5rem;
  font-size: 1rem;
}

.portfolio-item hr {
  margin-bottom: 0.5rem;
  width: 100%;
}

.portfolio-item img {
  width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Responsive styles */

@media (min-width: 1024px) {
  .portfolio-section {
    flex-direction: row;
  }
  .portfolio-menu {
    width: 25%;
  }
  .portfolio-items {
    width: 75%;
  }
}

/* Footer Styles */

.footer {
  color: #333;
  padding: 3rem;
  padding-top: 30rem;
}

.footer-divider {
  border: none;
  height: 1px;
  background-color: #ccc;
  margin: 0;
  margin-bottom: 2rem;
}

.footer-top h2 {
  font-size: 3.8rem;
  margin-bottom: 0.5rem;
}

.footer-top p {
  font-size: 0.875rem;
  margin-bottom: 1rem;
  color: #9ca3af;
}

.footer-email {
  font-size: 1.25rem;
  color: #000;
  text-decoration: none;
  margin-bottom: 2rem;
  display: block;
}

.location h4 {
  font-size: 1.2rem;
  color: #000;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.location address,
.location a {
  font-size: 1rem;
  color: #575757;
  text-decoration: none;
  line-height: 1.5;
  display: block;
}

.footer-menu-section {
  text-align: left;
}

.menu-heading {
  font-size: 1.2rem;
  color: #000;
  margin-bottom: 0.5rem;
}

.footer-menu a {
  display: block;
  color: #000;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.footer-social {
  margin-top: 2rem;
}

.footer-social a {
  margin-right: 1rem;
  display: inline-block;
}

.footer-social img {
  width: 24px;
  height: 24px;
}

@media (min-width: 1024px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3rem;
    /* Only set padding once */
  }
  .footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: calc(100% - 6rem);
    /* Subtract left and right padding */
  }
  .footer-top {
    flex: 1;
    /* Allow to grow as needed */
    /* Set a maximum width */
  }
  .footer-divider {
    width: 100%;
    border-top: 1px solid #ccc;
    margin-top: 0;
    margin-bottom: 2rem;
  }
  .footer-locations {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    padding: 3rem;
  }
  .location {
    margin-right: 0;
    /* Remove margin-right as grid-gap already provides spacing */
  }
  .footer-social {
    order: 3;
    /* To ensure it comes after the locations and menu */
    position: relative;
    width: 100%;
    /* Ensure full width */
    justify-content: flex-start;
    /* Align to start */
    padding-top: 0;
    /* No need for extra padding on top */
  }
}
