body,
html {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.navbar {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    font-size: 18px;
    font-weight: 600;
    color: white;
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    margin-right: 10px;
}

.menu-icon {
    background: none;
    border: none;
    padding: 0;
}

.menu-icon svg {
    fill: white;
}

.hero-video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.hero {
    position: relative;
}

.overlay {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.242);
    z-index: -1;
    width: 100%;
    height: 100vh;
}

.nav-items li a {
    color: white;
}

.desktop-nav {
    display: none;
}

@media (min-width: 768px) {
    .logo {
        font-size: 24px;
    }
    .logo img {
        width: 60px;
    }
}

@media (min-width: 1024px) {
    .logo {
        font-size: 32px;
    }
    .logo img {
        width: 80px;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .desktop-nav {
        display: block;
    }
    .menu-icon {
        display: none;
    }
    .nav-items {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    .nav-items li {
        margin: 10px 0;
    }
    .nav-items li a {
        text-decoration: none;
    }
}